*{
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body{
  background-color: rgb(19, 13, 13);
}
.Boshi{
  text-align: center;
  font-family: sans-serif;
  margin-top: 100px;
}
.Boshi h1{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 60px;
}
.Boshi h3{
  color: yellow;
  font-size: 40px;
  font-weight: 500;
}
.portfolio1 img{
  height: 300px;
  width: 600px;
  margin-top: 50px;
  margin-left: 50px;
}
.portfolio1{
  display: flex;
  padding: 60px;
}
.yozuv h1{
  color: #FFFFFF;
  font-family: sans-serif;
  margin-top: 120px;
  margin-left: 50px;
}
.yozuv p{
  color: white;
  margin-left: 50px;
  margin-top: 20px;
}
.btnlar button{
  margin-top: 30px;
  border: none;
  padding: 20px 30px;
}
.btnlar a{
  color: black;
  font-size: 20px;
}
.btnlar{
  margin-left: 50px;
}
.btn2{
  width: 170px;
}
.btn1{
  margin-left: 5px;
  width: 170px;
  background-color: yellow;
}
.portfolio2{
  display: flex;
  align-items: center;
  padding: 60px;
}
.btnlar1 button{
  margin-top: 30px;
  border: none;
  width: 170px;
  padding: 20px 30px;
}
.btnlar1 button a{
  color: black;
  font-size: 20px;
}
.yozuv1{
  margin-left: 50px;
}
.yozuv1 h1{
  color: #FFFFFF;
  font-family: sans-serif;
}
.portfolio2 img{
  height: 300px;
  width: 600px;
  margin-left: 200px;
}
hr{
  margin-top: 100px;
}
footer{
  text-align: center;
  color: #FFFFFF;
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: sans-serif;
}
@media (max-width: 380px) {
  .Boshi h1{
      font-size: 20px;
  }
  .Boshi h3{
      font-size: 17px;
  }
  .portfolio1{
     padding: 0;
     margin-left: 20px;
  }
  .portfolio1 img{
      width: 330px;
      height: 180px;
      margin-left: -1px;
  }
  .yozuv{
      position: absolute;
      margin-top: 180px;
      margin-left: 0;
  }
  .yozuv h1{
      font-size: 25px;
      margin-top: 70px;
      margin-left: -1px;
  }
  .yozuv p{
      margin-left: -1px;
      margin-bottom: 10px;
      font-size: 13px
  }
  .btnlar button .icon1{
      font-size: 13px;
  }
  .btnlar{
      margin-left: -5px;
  }
  .btnlar button{
      width: 80px;
      height: 30px;
      padding: 0;
      margin-top: 10px;
  }
  .btnlar button a{
      font-size: 10px;
  }
  .portfolio2{
      padding: 0;
      margin-top: 150px;
  }
  .portfolio2 img{
      width: 330px;
      height: 180px;
      margin-left: 20px;
      margin-top: 40px;
  }
  .yozuv1{
      margin-left: 20px;
      position: absolute;
      margin-top: 320px;
  }
  .yozuv1 h1{
      font-size: 20px;
  }
  .btnlar1 button .icon1{
      font-size: 13px;
      align-items: center;
  }
  .btnlar1{
      display: flex;
  }
  .yozuv1 button{
      width: 80px;
      height: 30px;
      padding: 0;
  }
  .yozuv1 button a{
      font-size: 10px;
  }
  .hr_portfolio{
      margin-top: 140px;
  }
  footer{
      font-size: 10px;
  }
  }
